@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes expand-vertical {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.animate-expand-vertical {
  animation: expand-vertical 0.2s ease-out forwards;
} 