@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make all elements unselectable */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer base {
  body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    @apply font-poppins bg-black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    height: 100vh;
  }
}

@layer utilities {
  .animate-morph {
    animation: morph 15s ease-in-out infinite;
  }
  .animate-morph-delay {
    animation: morph 15s ease-in-out infinite 5s;
  }
  .animate-morph-delay-2 {
    animation: morph 15s ease-in-out infinite 10s;
  }
}